:root {
    --primary-color: #ff8009;
    --text-color: rgb(194, 194, 194);
    --bg: rgb(27, 32, 34);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poiret One',sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

header .menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 50;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
header p a{
    font-size: 160px;
    font-weight: bold;
    padding-right: 6rem;
    color: black;
}
header article {
    height: fit-content;
    width: 20%;
    padding-left: 0.5rem;
}
header article h1 {
    font-size: 30px;
}
header article h2 {
    font-size: 20px;
}


/* World Swiper*/
.world {
    padding-bottom: 4rem;
    padding-top: 2rem;
}
.world p {
  font-size: 30px;
  font-weight: bold;
  padding: 2rem;
  color: whitesmoke;
  text-align: center;
}
.swiper {
      --swiper-navigation-color: whitesmoke !important;
    } 
.swiper-button-next {
    padding: 2rem 0 2rem 2rem;
}
.swiper-button-prev {
    padding: 2rem 2rem 2rem 0;
}
.swiper-slide img {
      display: block;
      width: 100%;
      height: 600px;
      object-fit: cover;
      filter: brightness(125%);
    }

h3 {
    padding: 1rem 1rem 1rem 20rem;
    text-align: end;
    font-size: 20px;
}

/* Footer */
footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
}
footer span {
    font-weight: bold;
}
footer p {
    font-weight: bold;
    font-size: 10px;
}
footer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}
footer nav a {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    padding: 1rem 1rem;
}
footer nav a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px)  {
    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: space-between;
        gap: 2rem;
    }
    header p a{
        font-size: 60px;
        padding-right: 0;
        padding-left: 0.5rem;
    }
    header article {
        width: 80%;
        background-color: black;
        color: white;
        padding: 1rem 0.5rem;     
    }
    header article h1 {
        font-size: 22px;
       
    }
    header article h2 {
       font-size: 18px;
    }
    .mySwiper {
        height: 100%;
        width: 100%;
    }
    .mySwiper img {
        width: 100%;
        height: 400px;
    }
    .world {
        padding-bottom: 2rem;
    }
    h3 {
        padding: 1rem;
        text-align: end;
        font-size: 20px;
}
     /* Footer */
    footer {
      padding: 1rem 0.5rem;
      flex-direction: column-reverse;
      gap: 0;
    }
    footer nav {
        gap: 0;
    }
    footer nav a {
        padding: 1rem 0;
    }
    footer .copyright {
        margin-top: 1rem;
        padding-top: 0.4rem;
        border-top: 1px solid;
        text-align: center;
    }

}