/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
    --primary-color: #ff8e38;
    --link-color: #fb1b1b;
    --text-color: rgb(194, 194, 194);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poiret One',sans-serif;
    user-select: none;
}

/* Header */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .headerBg {
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 1) 100%);
}
header video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
header .logo {
    position: absolute;
    font-size: 260px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
header nav {
    position: absolute;
    width: 100%;
    top: 4rem;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}
header nav a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
header nav a:hover {
    color: rgb(200, 200, 200);
} 
header article {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    color: white;
}
header article h1 {
    font-size: 30px;
    margin-bottom: 0.5rem;
}
header article h2 {
    font-size: 20px;
}
header span {
    position: absolute;
    color: white;
    right: 2rem;
    top: 2rem;
    opacity: 0;
}


/* header nav {
    top: 0;
    z-index: 100;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* header nav ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    font-size: 20px;
    font-weight: bold;
}
header nav ul a {
    color: black;
    padding-bottom: 0.2rem;
    padding-inline: 1rem;
}
header nav ul a:hover {
    color: white;
    background-color: black;
}
header nav p {
    font-size: 120px;
    font-weight: bold;
    color: black;
}
header nav p span {
    background-color: #ff8e38;
    padding-left: 0.5rem;
} */

footer {
    background-color: black;
    padding: 4rem 1rem 1rem 1rem;
    
}
footer ul {
    display: flex;
    justify-content: space-between;
}
footer ul a {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
footer ul a:hover {
    color: rgb(176, 176, 176);
    padding-bottom: 1rem;
}
footer .copyright {
    color: white;
    margin-top: 2rem;
    border-top: 1px solid rgb(84, 84, 84);
    padding-top: 1rem;
}
footer .copyright span {
    font-weight: bold;
}
footer .copyright p {
    font-size: 10px;
}

/* HERO */
.hero {
    position: relative;
}
.hero article {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.hero article h1 {
    font-size: 120px;
    line-height: 120px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    width: 80%;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}
.hero article h2 {
    width: 50%;
    text-align: center;
    color: white;
    font-size: 28px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.hero a {
    color: white;
    font-size: 30px;
    border-bottom: white solid;
    margin-top: 2rem;
}
.hero a:hover {
    color: black;
    font-size: 30px;
    border-bottom: black solid;
    margin-top: 2rem;
}
.hero video {
    width: 100%;
    height: 800px;
    object-fit: cover;
    background-color: black;
}

/* Value Banner Blue*/
.valueBanner {
    background: rgb(27, 48, 60);
    height: 100%;
    width: 90%;
    margin: 3rem 2rem 7rem 1rem;
}
.valueBanner article {
    padding: 2rem;
    color: white;
}
.valueBanner article h2 {
    font-size: 40px;
}
.valueBanner article h3 {
    font-size: 38px;
}


/* Link Banner */
.linkBanner {
    position: relative;
    width: 100%;
    height: 100%;
}
.linkBanner img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: brightness(125%);
}
.linkBanner p {
    font-size: 40px;
    font-weight: bold;
    margin: 3rem 1rem;
    color: black;
    z-index: 40;
}
.linkBanner article {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
    width: 40%;
    height: 100%;
    font-size: 40px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: start;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.linkBanner article a{
  color: white;
  border-bottom: white solid;
  font-weight: bold;
  margin-top: 2rem;
}
.linkBanner article a:hover {
    color: black;
    border-bottom: black solid;
}

/* Jewelry Video */
.jewelryVideo {
    
    margin: 8rem 0;
}
.jewelryVideo p {
    font-size: 60px;
    padding-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}
.jewelryVideo video {
    background-color: black;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Black Text */
.blackText {
  width: 80%;
  margin: 8rem auto;
}
.blackText article h2 {
    font-size: 60px;
}
.blackText article h3 {
    font-size: 50px;
}

/* Whtie On Black Text */
.whiteBlack {
    color: white;
    background-color: black;
    padding: 2rem;
    margin: 4rem 0;
}
.whiteBlack h2 {
    font-size: 60px;
}
.whiteBlack h3 {
    font-size: 56px;
}
.whiteBlack span a {
    color: white;
    margin-inline: 1.3rem;
    border-bottom: white solid;
}
.whiteBlack span a:hover {
    color: rgb(190, 190, 190);
    border-bottom: rgb(190, 190, 190) solid;
}

/* SWIPER */
.swiper {
      width: 100%;
      height: 100%;
      --swiper-navigation-color: #ffffff !important;
    }

.swiper-slide {
      text-align: start;
      font-size: 22px;
      font-weight: bold;
      padding-top: 0.2rem;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.swiper-slide img {
      display: block;
      width: 100%;
      height: 500px;
      object-fit: cover;
      filter: brightness(150%);
    }

@media screen and (max-width: 768px) {
    header .logo {
        font-size: 80px;
    }
    header nav {
        display: none;
    }
    header article {
    bottom: 1rem;
    left: 1rem;
    }
    header article h1 {
        margin-bottom: 0.4rem;
    }
    header article h2 {
        font-size: 16px;
    }
    header span {
        right: 2rem;
        top: 2rem;
        opacity: 1;
}


    /* Footer */
    footer ul {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* HERO */
.hero article {
    position: static;
    margin-top: 1rem;
}
.hero article h1 {
    font-size: 40px;
    line-height: normal;
    /* color: black; */
    text-shadow: none;
    margin-bottom: 0.6rem;
    width: 90%;
    
}
.hero article h2 {
    width: 90%;
    font-size: 16px;
    /* color: black; */
    text-shadow: none;
}
.hero article a {
    /* color: black;
    border-bottom: black solid; */
    padding: 0;
}
.hero video {
    height: 100vh;
    filter: brightness(125%);
}

/* Value Banner Blue*/
.valueBanner {
    margin: 3rem 0;
    width: 100%;
}
.valueBanner article h2 {
    font-size: 20px;
}
.valueBanner article h3 {
    font-size: 18px;
}


/* Link Banner */
.linkBanner {
    width: 100%;
    height: 100%;
}
.linkBanner img {
    height: 400px;
}
.linkBanner article {
   width: 90%;
   bottom: 0rem;
   left: 0.5rem;
}
.linkBanner article h2 {
    font-size: 40px;
    width: 90%;
}
.linkBanner article a {
    margin-bottom: 1rem;
    font-size: 26px;
    margin-top: 1rem;
}
.linkBanner  p {
    margin: 1rem 1rem;
    font-size: 20px;
}

/* Jewelry Video */
.jewelryVideo {
    margin: 4rem 0;
    height: 100%;
}
.jewelryVideo p {
    font-size: 30px;
}
.jewelryVideo video {
    height: 300px;
    width: 100%;
}


/* Black Text */
.blackText {
  width: 90%;
  margin: 3rem auto;
}
.blackText article h2 {
    font-size: 20px;
}
.blackText article h3 {
    font-size: 18px;
}

/* Wite Text */
.whiteBlack h2 {
    font-size: 22px;
}
.whiteBlack h3 {
    font-size: 20px;
}

/* SWIPER */
.swiper-slide img {
      height: 280px;
    }

}