/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
    --primary-color: #ffa01a;
    --text-color: rgb(194, 194, 194);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: black;
    font-family: 'Poiret One',sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
}
header .logo {
    position: absolute;
    top: 1rem;
    left: 6rem;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 28px;
    padding-inline: 0.8rem;
    padding-bottom: 0.3rem;
    color: white;
    background-color: black;
    z-index: 50;
}
header .bg {
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg,rgba(0, 0, 0, 0.26) 75%, rgba(0, 0, 0, 1) 100%);
    z-index: 30;
    height: 100vh;
}
header picture img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
header article {
    position: absolute;
    left: 6rem;
    bottom: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    z-index: 50;
}
header article h1 {
    text-align: start;
    font-size: 100px;
    line-height: 100px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}
header article h2 {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    font-size: 32px;
}
header article a {
    background-color: #f94604;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    header picture img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
    header .bg {
        height: 700px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 0.26) 75%, rgba(0, 0, 0, 1) 100%);
}
    header .logo {
      top: 0.66rem;
      left: 0.6rem;
}
    header article {
    position: absolute;
    margin-inline: auto;
    left: 0;
    bottom: 0;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
    header article h1 {
    text-align: center;
    font-size: 50px;
    line-height: normal;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}
    header article h2 {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    font-size: 26px;
    text-align: center;
}
}



  /* Mobile Menu Touggle*/
  .mobile-menu-toggle {
    position: fixed;
    top: 22px;
    right: 2rem;
    z-index: 50;
    color: var(--text-color);
    cursor: pointer;
  }

/* Hero Section */
.heroTitle {
    color: white;
    font-weight: 500;
    font-size: 120px;
    text-align: center;
    line-height: 120px;
}
.heroSubtitle {
    color: white;
    font-weight: 500;
    text-align: center;
}
.heroSpan {
    color: rgb(255, 86, 14);
    font-weight: bold;
}
.heroLink {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(238, 157, 7);
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 24px;
} 

/* Section One */
.sectionOne {
    width: 98%;
    height: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionOneAva {
    display: none;
}
.videoOne {
    width: 25%;
    height: 700px;
    border-radius: 44px;
    object-fit: cover;
}
.sectionOne .swiper {
    width: 75%;
}
.sectionOne .mySwiper{
    border-radius: 44px;
}
 .swiper-slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 44px;
 }
.swiper-slide p {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    color: var(--text-color);
    font-size: 32px;
}

/* Section Two */
.sectionTwo {
    width: 98%;
    height: 560px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionTwoImg {
    width: 40%;
    height: 100%;
    position: relative;
}
.sectionTwoImg h2 {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    width: 50%;
    color: white;
}
.sectionTwoImg h2 span {
    display: none;
}
.sectionTwoImg h3 {
    position: absolute;
    bottom: 1rem;
    left: 1.2rem;
    width: 80%;
    color: white;
}
.sectionTwoImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.videoTwo {
    width: 60%;
    height: 560px;
    border-radius: 44px;
    object-fit: cover;
}

/* Section Three Hot Deals Swiper */
.sectionHot{
    width: 98%;
    height: 560px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionHotAva {
    display: none;
}
.sectionHotAvaInner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hotAvaLink {
    color: var(--text-color);
    background-color: rgb(39, 39, 39);
    padding: 0.5rem 0.7rem;
    border-radius: 18px;
    font-size: 12px;
}
.sectionHotImg{
    width: 60%;
    height: 100%;
    position: relative;
}
.sectionHotImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.hotBannerLink {
    position: absolute;
    right: 1.66rem;
    bottom: 1rem;
    background-color: rgb(149, 133, 116);
    color: white;
    padding: 1rem;
    border-radius: 28px;
}
.hotBannerLink:hover {
    background-color: rgb(202, 183, 160);
    transition: all;
}
.sectionHotImg h2 {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    width: 50%;
    color: white;
}
.sectionHotImg h2 span {
    display: none;
}
.sectionHotImg h3 {
    position: absolute;
    bottom: 1rem;
    left: 1.2rem;
    width: 80%;
    color: white;
}
.mySwiperHot {
    width: 40%;
    height: 100%;
    border-radius: 44px;
}

/* Section Four Pop Countries Swiper */
.sectionPop{
    width: 98%;
    height: 560px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionPopImg {
    width: 60%;
    height: 100%;
}
.sectionPopImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.popSwiper {
    width: 40%;
    height: 560px;
    border-radius: 44px;
}
.popBannerLink {
    position: absolute;
    right: 1.66rem;
    bottom: 1rem;
    background-color: rgb(184, 126, 135);
    color: white;
    padding: 1rem;
    border-radius: 28px;
}


/* Section Six New Agencies */
.sectionNew {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Section Seven Tours */
.sectionTours {
    width: 98%;
    height: 560px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionToursImg {
    width: 60%;
    height: 100%;
}
.sectionToursImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.toursSwiper {
    width: 40%;
    height: 560px;
    border-radius: 44px;
}


/* Section Eight Blog */
/* .sectionBlog {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
} */

/* Styles applied only when the screen width is 768px or less */
/* @media screen and (max-width: 768px) {
   header { 
    width: 98%;
    padding-top: 1rem;
    padding-bottom: 2rem;
   }
    .heroTitle{
        font-size: 44px;
        line-height: 50px;
        padding-inline: 0.5rem;
    }
    .heroSubtitle {
        font-size: 22px;
        font-weight: 400;
        width: 80%;
    }
    .heroLink {
       width: 80%;
    }
    .heroLink p {
        font-size: 18px;
        font-weight: bold;
    }
    nav{
        display: none;
    }
    .mobLogo{
        display: block;
    } 

    /* Section One */
        /* .sectionOneAva{
            padding-inline: 6px;
            width: 96%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            color: var(--text-color);
            font-size: 16px;
            font-weight: 500;
        }
        .sectionOneAva p {
            color: var(--text-color);
        }
        .sectionOneAva img {
           width: 50px;
           height: 50px;
           border-radius: 100%;
        }
        .sectionOne {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
        .videoOne {
            width: 100%;
            height: 210px;
            border-radius: 0;
        }
        .sectionOne .mySwiper {
          width: 100%;
          border-radius: 0;
        }
        .sectionOne .swiper-wrapper{
            padding-left: 14px;
        }
        .swiper-slide img {
          border-radius: 32px;
          height: 210px;
        }
        .mySwiper .swiper-slide p {
            position: static;
            padding: 0.2rem 0 2rem 0.4rem;
            text-align: start;
            left: 0.5rem;
            font-size: large;
            font-weight: 600;
            color: var(--text-color);
        } */
        /* Section Two Video*/
       /* .sectionTwo {
         width: 100%;
         height: 100%;
         margin-inline: auto;
         display: flex;
         flex-direction: column;
         gap: 8px;
         margin-top: 0;
        }
        .sectionTwoImg h2 {
         position: static;
         width: 100%;
         color: var(--text-color);
         font-size: large;
         padding-bottom: 1rem;
         display: flex;
         }
         .sectionTwoImg h2 span {
            display: block;
            color: #ff2626;
         }
        .sectionTwoImg h3 {
         position: static;
         width: 94%;
         color: var(--text-color);
         font-size: small;
         padding: 0.6rem 0rem 1rem 1rem;
        }
        .sectionTwoImg {
         position: inherit;
         width: 94%;
         height: 100%;
         margin-inline: auto;
       }   
        .sectionTwoImg img {
         width: 100%;
         height: 100%;
         border-radius: 32px;
        }
        .videoTwo {
         width: 100%;
         height: 210px;
         border-radius: 0;
         object-fit: cover;
        } */

        /* Section Free Hot */
        /* .sectionHotAva{
            margin-inline: auto;
            width: 96%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            color: var(--text-color);
            font-size: 16px;
            font-weight: 500;
        }
        .sectionHotAva p {
            color: var(--text-color);
        }
        .sectionHotAva img {
           width: 50px;
           height: 50px;
           border-radius: 100%;
        }
        .sectionHot {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        }
        .sectionHotImg h2 {
         position: static;
         width: 100%;
         color: var(--text-color);
         font-size: large;
         padding-bottom: 1rem;
         display: flex;
         }
         .sectionHotImg h2 span {
            display: block;
            color: #ff2626;
         }
         .sectionHotImg h3 {
         position: static;
         width: 94%;
         color: var(--text-color);
         font-size: small;
         padding: 0.6rem 0.6rem 1rem 1rem;
        }
        .sectionHot .hotBannerLink {
            display: none;
        }
        .sectionHotImg {
          width: 94%;
          height: 100%;
          margin-inline: auto;
        }   
        .sectionHotImg img {
            border-radius: 32px;
        }
        .sectionHot .swiper-wrapper{
            padding-left: 14px;
        }
        .sectionHot .mySwiperHot {
            width: 100%;
            height: 210px;
            border-radius: 0;
        }
         .mySwiperHot img {
          width: 100%;
          height: 100%;
          border-radius: 24px;
          object-fit: cover;
        }
        .mySwiperHot p {
            font-size: 16px;
            left: 0.66rem;
            bottom: 0.6rem;
            width: 60%;
            color: white;
        } */
        
        /* Section Four Popular Swiper */
        /* .sectionPop {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .sectionPopImg {
                    width: 94%;
                    height: 100%;
                    margin-inline: auto;
        }   
        .sectionPopImg img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
        }
        .popSwiper {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        .sectionPop .swiper-wrapper{
            padding-left: 14px;
        }
        .popSwiper .swiper-slide p {
            position: static;
            padding: 0.2rem 0 1rem 0.4rem;
            text-align: start;
            left: 0.5rem;
            font-size: large;
            font-weight: 600;
            color: var(--text-color);
        }
        .sectionPop .popBannerLink {
            display: none;
        } */

        /* Section Six New Agencies */
        /* .sectionNew {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        } */

        /* Section Seven Tours */
        /* .sectionTours {
           width: 100%;
           height: 100%;
           margin-inline: auto;
           display: flex;
           flex-direction: column-reverse;
           gap: 8px;
        } */

        /* Section Eight Blog */
        /* .sectionBlog {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            display: flex;
            flex-direction: column-reverse;
            gap: 8px;
        } */
