/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --primary-color: #ffa01a;
    --text-color: #d0d0d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
    font-family: 'Unbounded',sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0.5rem;
    width: 98%;
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 6px 21px -5px #000000;
    border-radius: 32px;
    z-index: 50;
}
.logo {
    margin: 6px;
    padding: 0.5rem 1rem;
    border: solid;
    border-radius: 32px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.mobLogo {
    display: none;
    margin-left: 4px;
    padding: 0.5rem 1rem;
    border: solid;
    border-radius: 32px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    align-self: start;
}
.navLinks {
    display: flex;
    gap: 1rem;
    padding-right: 20%;
}
.navLinks a {
    color: var(--text-color);
}
.navLinks a:hover {
    color: gray;
    cursor: pointer;
}

  /* Mobile Menu Touggle*/
  .mobile-menu-toggle {
    position: fixed;
    top: 22px;
    right: 2rem;
    z-index: 50;
    color: var(--text-color);
    cursor: pointer;
  }

/* Swiper Styles */
 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
    width: 100%;
    height: 100%;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 44px;
 }
 .swiper-slide p {
    display: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 120px;
 }

.container {
    width: 96%;
    margin-inline: auto;
}

.heroTitle {
    color: white;
    font-weight: 500;
    font-size: 120px;
    text-align: center;
    line-height: 120px;
}

.heroSubtitle {
    color: white;
    font-weight: 500;
    text-align: center;
}

.heroSpan {
    color: rgb(255, 86, 14);
    font-weight: bold;
}

.heroLink {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(238, 157, 7);
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

/* Section One */

.sectionOne {
    width: 98%;
    height: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sectionOneAva {
    display: none;
}

.videoOne {
    width: 30%;
    height: 700px;
    border-radius: 44px;
    object-fit: cover;
}


/* Section Two */
.sectionTwo {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionTwoImg {
    width: 40%;
    height: 100%;
}
.sectionTwoImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.videoTwo {
    width: 60%;
    height: 500px;
    border-radius: 44px;
    object-fit: cover;
}

/* Section Three Hot Deals Swiper */
.sectionHot{
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionHotImg{
    width: 60%;
    height: 100%;
}
.sectionHotImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.hotSwiper {
    width: 40%;
    height: 500px;
    border-radius: 44px;
}

/* Section Four Pop Countries Swiper */
.sectionPop{
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sectionPopImg {
    width: 60%;
    height: 100%;
}
.sectionPopImg img {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    object-fit: cover;
}
.popSwiper {
    width: 40%;
    height: 500px;
    border-radius: 44px;
}

/* Section Six New Agencies */
.sectionNew {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Section Seven Tours */
.sectionTours {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Section Eight Blog */
.sectionBlog {
    width: 98%;
    height: 500px;
    margin-inline: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Styles applied only when the screen width is 768px or less */
@media screen and (max-width: 768px) {
   header {
    width: 98%;
    padding-top: 1rem;
    padding-bottom: 2rem;
   }
    .heroTitle{
        font-size: 48px;
        line-height: 50px;
    }
    nav{
        display: none;
    }
    .mobLogo{
        display: block;
    }

    /* Section One */
        .sectionOneAva{
            margin-inline: 4px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            color: var(--text-color);
            font-size: 14px;
        }
        .sectionOneAva img {
           width: 50px;
           height: 50px;
           border-radius: 100%;
        }
        .sectionOne {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .videoOne {
            width: 100%;
            height: 210px;
            border-radius: 0;
        }
        .swiper {
            width: 94%;
            height: 210px;
        }
        .swiper-slide img {
          border-radius: 24px;
        }

        /* Section Two */
       .sectionTwo {
         width: 100%;
         height: 100%;
         margin-inline: auto;
         display: flex;
         flex-direction: column;
         gap: 8px;
        }
        .sectionTwoImg {
         width: 94%;
         height: 100%;
         margin-inline: auto;
       }   
        .sectionTwoImg img {
         width: 100%;
         height: 100%;
         border-radius: 24px;
        }
        .videoTwo {
         width: 100%;
         height: 210px;
         border-radius: 0;
         object-fit: cover;
        }

        /* Section Free Hot */
        .sectionHot {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        }
        .sectionHotImg {
        width: 94%;
        height: 100%;
        margin-inline: auto;
        }
        .sectionHotImg img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-fit: cover;
        }
        .hotSwiper {
            width: 96%;
            height: 210px;
            border-radius: 24px;
        }

        /* Section Four Popular Swiper */
        .sectionPop {
                    width: 100%;
                    height: 100%;
                    margin-inline: auto;
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 8px;
        }
        .sectionPopImg {
                    width: 94%;
                    height: 100%;
                    margin-inline: auto;
        }   
        .sectionPopImg img {
                    width: 100%;
                    height: 100%;
                    border-radius: 24px;
                    object-fit: cover;
        }
        .popSwiper {
                    width: 96%;
                    height: 210px;
                    border-radius: 24px;
        }

        /* Section Six New Agencies */
        .sectionNew {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        }

        /* Section Seven Tours */
        .sectionTours {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        }

        /* Section Eight Blog */
        .sectionBlog {
            width: 100%;
            height: 100%;
            margin-inline: auto;
            display: flex;
            flex-direction: column-reverse;
            gap: 8px;
        }
}