@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ff8009;
    --text-color: rgb(194, 194, 194);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: var(--primary-color);
}

ul {
    list-style: none;
}

body {
    background-color: black;
    font-family: 'Poiret One',sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
}

/* Routes Headers */
header {
    margin-top: 4rem;
    width: 90%;
    height: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
header video {
    width: 30%;
    height: 100%;
    object-fit: cover;
    filter: brightness(125%);
}

header article {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header article img {
    position: absolute;
    right: 0;
    bottom: 1rem;
    filter: brightness(125%);
    object-fit: cover;
    width: 90%;
    height: 90%;
}
header article .articleContent {
    position: absolute;
    left: 1rem;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    filter: brightness(125%);
}
header article h1 {
    color: white;
    font-size: 120px;
    line-height: 100px;
    margin-bottom: 1rem;
    width: 70%;
}
header article h2 {
    color: white;
    font-size: 30px;
    width: 70%;
}

/* Blog Route */
.blogHeader {
    position: relative;
}
.blogHeader img {
    position: absolute;
    inset: 0;
}
.blogArticle {
   position: absolute;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
}
.blogArticle h1{
    font-size: 120px;
    width: 80%;
}
.blogArticle h2{
    font-size: 40px;
    width: 80%;
    margin-top: 1rem;
}
.blogMain video {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* Media Query */
@media screen and (max-width: 768px) {
    /* All Routes Hero */
header {
    margin-top: 0;
    width: 100%;
    height: 100%;
    margin-inline: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
}
header article {
    width: 100%;
    height: 800px;
    display: block;
}
header article img {
    top:0;
    object-fit: cover;
    width: 100%;
    height: 600px;
}
header .bg {
     position: absolute;
     inset: 0;
     z-index: 30;
     height: 600px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0.26) 88%, rgba(0, 0, 0, 1) 100%);
}
header article .articleContent {
    bottom: 4rem;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    filter: brightness(125%);
    z-index: 50;
}
header article h1 {
    color: white;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 1rem;
    width: 96%;
    text-align: center;
}
header article h2 {
    color: white;
    font-size: 22px;
    width: 96%;
    text-align: center;
}

header video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

  
  

/* Blog Hero */
.blogHeader img {
    position: static;
    width: 100%;
}
.blogArticle h1{
    font-size: 20px;
    width: 96%;
}
.blogArticle h2{
    font-size: 12px;
    width: 96%;
    margin-top: 1rem;
}
}